<p id="backtop" style="display: none;"></p>
<footer class="footer" style="padding: 1.25rem;">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a class="icon" href="//github.com/jenil/bulmaswatch" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        &nbsp;
        <a class="icon" href="//twitter.com/tienquanutc" target="_blank">
          <i class="fab fa-twitter"></i>
        </a>

        <a class="icon" href="//facebook.com/tienquan.utc" target="_blank">
            <i class="fab fa-google"></i>
        </a>
      </p>
      <p>
       Based on
        <a href="http://bulma.io" target="_blank">Bulma</a>. Icons from
        <a href="http://fontawesome.io/" target="_blank" >Font Awesome</a>. Web Fonts from
        <a href="https://fonts.google.com/" target="_blank">Google</a>.
      </p>
    </div>
  </div>
</footer>