<div class="hero is-primary">
  <div class="hero-head">
    <nav id="navbar" class="navbar has-shadow">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h1 class="title is-5">Gallery</h1>
          </a>
          <a class="navbar-item" href="https://facebook.com/tienquan.utc">
            <span class="icon"><i class="fab fa-facebook"></i></span>
            <span class="is-hidden-mobile">Facebook</span>
          </a>
          <a class="navbar-item" href="https://facebook.com/tienquan.utc">
            <span class="icon"><i class="fab fa-github"></i></span>
            <span class="is-hidden-mobile">Github</span>
          </a>
          <a class="navbar-item" href="https://facebook.com/tienquan.utc">
            <span class="icon"><i class="fa fa-bug"></i></span>
            <span class="is-hidden-mobile">Report an issue</span>
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>